absl-py==0.9.0
certifi==2020.6.20
cycler==0.10.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
joblib==0.16.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.2.2
numpy==1.16.4
opencv-python==4.2.0.34
protobuf==3.12.2
PyYAML==5.3.1
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0